#add-bill-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  z-index: 1;
  transition: all 2s ease-in;
}

#add-bill-form {
    display: flex;
    flex-direction: column;
    background: white;
    width: 325px;
    margin: auto;
    margin-top: 105px;
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid #0ABD99;
    border-radius: 5px;

  #add-bill-header {
    display: flex;
    justify-content: space-between;
    background: #03D7AC;
    padding: 10px;
    color: white;
  }
}

#close-btn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  color: white;
}

#close-btn:hover {
  cursor: pointer;
  color: #4ffcda;
}

#enter-name {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #E4E5E5;
  input {
    margin-left: 5px;
    font-size: 13px;
    border: none;
    padding: 0px;
  }
  input:focus {
    outline: none;
    #friend-search {
      display: block;
    }
  }
  input: {

  }
  h1 {
    font-size: 16px;
  }
  em {
    font-weight: 700;
  }
}

#friend-search {
  display: none;
  position: absolute;
  top: 193px;
  width: 325px;
  z-index: 5;
  background: white;
  font-size: 14px;
  border-bottom: 1px solid #E4E5E5;
  cursor: pointer;
  img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }
  li {
    display: flex;
    align-items: center;
    height: 35px;
  }
  li span {
    display: flex;
    align-items: center;
    margin-left: 6px;
  }
  li:hover {
    background: lightgray;

  }
  li:not(:hover) {
    background: transparent;
  }
}

#description-amount {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  img {
    padding: 2px;
    border: 1px solid #03D7AC;
  }
  #bill-inputs {
    margin-left: 20px;
    li {
      border-bottom: 3px dashed #E4E5E5;
      margin-top: 3px;
      font-size: 18px;
    }
    input {
      height: 32px;
      font-size: 18px;
      border: none;
      outline: none;
    }
  }
}

#dynamic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  button {
    font-size: 16px;
    border-radius: 14px;
    border: 2px dashed #E4E5E5;
    background: #f2f3f3;
    cursor: pointer;
    padding: 5px;
    box-sizing: content-box;
  }
  h1 {
    margin-bottom: 3px;
  }
}

#date-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  #datepicker {
    width: 125px;
    border-radius: 5px;
  }
  #add-bill-btn {
    margin-top: 9px;
    margin-bottom: 19px;
    width: 200px;
    background: #03D7AC;
    border: 1px solid #0ABD99;
    box-shadow: 1px 1px #B9B9B9;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
  #add-bill-btn:hover {
    background: darken(#03D7AC, 2%);
  }
}
