#add-bill-modal {
  // display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  z-index: 1;
  transition: all 2s ease-in;
}

#add-bill-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 325px;
    margin: auto;
    top: 50px;
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid #0ABD99;
    border-radius: 5px;

  // input {
  //   box-sizing: border-box;
  //   // width: 90%;
  //   border-radius: 5px;
  //   box-shadow: none;
  //   // height: 33px;
  //   // font-size: 18px;
  //   border: 1px solid lightgray;
  //   margin-top: 10px;
  //   padding: 10px;
  // }

  #add-bill-header {
    display: flex;
    justify-content: space-between;
    background: #03D7AC;
    padding: 10px;
    color: white;
  }
}

#enter-name {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #E4E5E5;
  input {
    margin-left: 5px;
    font-size: 13px;
    border: none;
    padding: 0px;
  }
  input:focus {
    outline: none;
    #friend-search {
      display: block;
    }
  }
  input: {

  }
  h1 {
    font-size: 16px;
  }
  em {
    font-weight: 700;
  }
}

#friend-search{
  // display: none;
  position: relative;

  margin: auto;
  top: 250px;
  width: 325px;
  z-index: 5;
  background: white;
}



.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}



#add-bill-btn #change-payer-btn {
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  width: 300px;
  margin-top: 10px;
}

#add-bill-btn:hover, #change-payer-btn:hover {
  background: darken(#E98C11, 2%);
  cursor: pointer;
}
