body, table, ul,
ol, li, a, p, nav,
h1, h2, h3, h4, h5,
tr, td {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: inherit;
  background: transparent;
  color: inherit;
  font-weight: normal;
  border: 0;
  font-style: normal;
  list-style: none;
}

button {
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

strong, em {
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}
