.dashboard {
  #balances {
    display: flex;
    justify-content: space-around;
    background: #EEEFEF;
    padding: 10px 0px;
    border-bottom: 1px solid #D8DADA;
    li {
      width: 100%;
      text-align: center;
      border-right: 1px solid #D8DADA;
    }
    li:last-of-type {
      border-right: none;
    }
    h1 {
      color: #0ABD99;
      font-size: 12px;
      margin-left: 10px;
      font-family: sans-serif;
    }
    h2 {
      font-family: sans-serif;
    }
  }

  #dashboard-nav {
    display: flex;
    justify-content: space-around;
    padding: 14px 16px;
    font-family: sans-serif;
    h1 {
      color: #0ABD99;
      font-size: 14px;
      width: 100%;
      font-weight: 700;
    }
    #head-left {
      text-align: left;
    }
    #head-right {
      text-align: right;
    }
    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 11px;
      color: #0BDAB1;
      li {
        padding: 4px 3px;
        border: 1px solid #D8DADA;
      }
      li:hover {
        cursor: pointer;
        color: #0ABD99;
      }
      i {
        margin-right: 3px;
      }
    }
    #view-list{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    #view-chart{
      border-left: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

  }

  #dash-list {
    font-family: sans-serif;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    li {
      display: flex;
      align-items: center;
      padding: 3px 10px;
    }
    li:hover {
      cursor: pointer;
      background: #F8F8F8;
    }
    h2 {
      font-size: 13px;
      font-weight: normal;
      em {
        font-weight: 700;
        font-size: 15px;
      }
    }
    #owe-list {
      width: 100%;
      border-right: 1px solid #D8DADA;
    }
    #lender-list {
      width: 100%;
    }
  }

  #dash-chart {
    font-family: sans-serif;
    color: white;
    ul {
      width: 100%;
    }
    #owe-chart {
      border-right: 1px solid #D8DADA;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    li {
      max-width: 220px;
      margin-bottom: 5px;
    }
    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    #ower-chart-li {
      background: #E98C11;
      text-align: right;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      padding: 5px 3px;
    }
    #lender-chart-li {
      background: #03D7AC;
      text-align: left;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 5px;
      padding: 5px 3px;
    }
  }
  .show-dash-list {
    color: darken(#0ABD99, 20%);
    background: #EEEFEF;
  }
  .show-dash-chart {
    color: darken(#0ABD99, 20%);
    background: #EEEFEF;
  }
  .show-dash-list-div {
    display: flex;
  }
  .hide-dash-list-div {
    display: none;
  }
  .show-dash-chart-div {
    display: flex;
  }
  .hide-dash-chart-div {
    display: none;
  }
}
