#expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid #E4E5E5;
  font-family: sans-serif;
}

#expense-item:hover {
  background: #EEEFEF;
  cursor: pointer;
  #description {
    text-decoration: underline;
  }
  #delete-expense-btn {
    visibility: visible;
    background: #EEEFEF;
    color: red;
  }
}

#delete-expense-btn {
  visibility: hidden;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 18px;
}

#delete-expense-btn:hover {
  i {
    text-decoration: underline;
  }
  cursor: pointer;
}

#expense-item-left {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 35px;
    margin-right: 5px;
  }
}

#bill-date {
  color: #0ABD99;
  margin-right: 5px;
  #month {
    font-size: 10px;
    text-align: center;
  }
  #day {
    font-size: 22px;
    text-align: center;
  }
}

#expense-item-right {
  display: flex;
  align-items: center;
  h1 {
    color: #0ABD99;
    font-size: 12px;
  }
  #paid-li {
    text-align: right;
    margin-right: 10px;
  }
  #owe-li {
    text-align: left;
    margin-right: 10px;
  }
}

#paid {
  font-weight: 700;
}

#lender {
  color: #0ABD99;
  font-weight: bolder;
  min-width: 71.41px;
}

#ower {
  color: red;
  font-weight: 700;
  min-width: 71.41px;
}

#empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  font-family: sans-serif;
  img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    color: #0ABD99;
  }
}

#payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 7px;
  border-bottom: 1px solid #E4E5E5;
  font-family: sans-serif;
  #payment-item-left {
    font-size: 14px;
    display: flex;
    align-items: center;
    img {
      margin-left: 3px;
      margin-right: 8px;
      width: 18px;
      height: 18px;
    }
  }
  #payment-item-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #payee-div {
      display: flex;
      align-items: center;
      text-align: left;
      margin-right: 10px;
    }
    h1 {
      color: #0ABD99;
      font-size: 12px;
      text-align: right;
      margin-right: 10px;
    }
  }
}

#payment-item:hover {
  background: #F8F8F8;
  #delete-payment-btn {
    visibility: visible;
    background: #F8F8F8;
    color: red;
  }
}

#delete-payment-btn {
  visibility: hidden;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 18px;
}

#delete-payment-btn:hover {
  i {
    text-decoration: underline;
  }
  cursor: pointer;
}

#month-li {
  background: #EEEFEF;
  border-bottom: 1px solid #E4E5E5;
  padding: 2px 0px;
  h1 {
    color: #0ABD99;
    font-size: 12px;
    margin-left: 10px;
    font-family: sans-serif;
  }
}
