#add-friend-modal {
  display: none;
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.2);
  z-index: 1;
}

#add-friend-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
