.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  background: #03D7AC;
  height: 50px;
  border-bottom: 1px solid #0ABD99;
  box-shadow: 0px 1px #B9B9B9;
  color: white;
}

.homepage-link {
  margin-top: 15px;
  letter-spacing: 5px;
  font-size: 20px;
}

.header-nav {
  display: inline-flex;
  width: 200px;
  justify-content: space-around;
  margin-top: 10px;
  font-family: sans-serif;
}

.login-btn {
  background: #03D7AC;
  border: 1px solid #0ABD99;
  box-shadow: 1px 1px #B9B9B9;
  height: 50%;
  padding: 5px;
  border-radius: 5px;
}

.signup-btn {
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  height: 50%;
  padding: 5px;
  border-radius: 5px;
}

.logout-btn {
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  height: 50%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
}

.signup-btn:hover,
.logout-btn:hover, {
  background: darken(#E98C11, 2%);
}

.login-btn:hover {
  background: darken(#03D7AC, 2%);
}

.header-nav strong {
  height: 50%;
  padding: 5px 0px;
}

.header img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: -10px;
}

@media(max-width:446px){
  .homepage-link {
    margin-left: 5px;
    letter-spacing: 3px;
  }
  .signup-btn {
    margin-right: 5px;
  }
}

@media(max-width:399px){
  .homepage-link {
    letter-spacing: 0px;
  }
  .header-nav strong {
    display: none;
  }
}
