.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.homepage table tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage h1 {
  font-size: 70px;
}

.homepage h2 {
  display: flex;
  font-size: 21px;
}

.homepage h2 em {
  font-weight: 700;
}

.homepage #logo {
  margin-top: 5px;
  height: 65px;
  width: 65px;
}

.homepage #browser-img {
  /* position: relative;
  left: -50px; */
  width: 787px;
  height: 537px;
}

.homepage #mobile-img {
  /* position: relative;
  right: 20px; */
  height: 537px;
}

.homepage #signup-btn {
  width: 300px;
  text-align: center;
  padding-bottom: 10px;
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  height: 50%;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.homepage #signup-btn:hover {
  background: darken(#E98C11, 2%);
}


.homepage #signup-btn strong {
  font-size: 30px;
  display: block;
}

@media(max-width:869px){
  .homepage h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    align-items: center;
  }
}

@media(max-width:778px){
  .homepage h1 {
    font-size: 34px;
  }
  .homepage table tr {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:500px){
  .homepage #browser-img {
    display: none;
  }
}

@media(max-width:399px){
  .homepage #browser-img {
    display: none;
  }
  .homepage h1 {
    font-size: 24px;
  }
}

.devo-link {
  display: flex;
  width: 200px;
  margin-top: 10px;
  a {
    text-decoration: underline;
    color: blue;
  }
}

.icon-link {
  display: flex;
  a {
    text-decoration: underline;
    color: blue;
  }
}
