.right-sidebar {
  width: 200px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  span {
    font-size: 22px;
    display: flex;
    margin-top: 10px;
    a{
      margin-right: 10px;
    }
  }
}

#info-header{
  color: #0ABD99;
  font-weight: 700;
}

#balance-settled{
  color: #0ABD99;
  margin-top: 5px;
}

#balance-owed{
  color: red;
  margin-top: 5px;
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
}

#balance-lent{
  color: #0ABD99;
  margin-top: 5px;
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
}

#delete-friend-btn {
  color: white;
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  height: 50%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 7px;
}

#delete-friend-btn:hover {
  background: darken(#E98C11, 2%);
  cursor: pointer;
}
