.all-content {
  display: flex;
  justify-content: center;
  border-top: 1px solid #0ABD99;
};

.main-content {
  width: 500px;
  border: 1px solid #0ABD99;
  border-top: none;
  border-bottom: none;
}
