.session-form {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: sans-serif;
}

.session-form #logo {
  padding-right: 20px;
  width: 200px;
  height: 200px;
}

.session-form form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.session-form h3 {
  font-weight: 700;
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
}

.session-form h2 {
  font-size: 24px;
  margin-top: 10px;
}

.session-form input {
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  height: 35px;
  padding: 5px;
  font-size: 32px;
  border: 1px solid lightgray;
  margin-top: 10px;
}

.session-form #submit-btn {
  background: #E98C11;
  border: 1px solid #C69523;
  box-shadow: 1px 1px #B9B9B9;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  width: 362px;
  margin-top: 10px;
}

.session-form #submit-btn:hover {
  background: darken(#E98C11, 2%);
  cursor: pointer;
}

@media(max-width:760px){
  .session-form {
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  .session-form h3 {
    text-align: center;
  }
  .session-form #logo {
    margin-left: 13px;
  }
}

@media(max-width:399px){
  .session-form {
    margin-top: 0px;
  }
  .session-form #logo {
    padding-right: 20px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
}

.demoLogin {
  text-align: center;
  margin-top: 5px;
  text-decoration: underline;
  color: #03D7AC;
}

.demoLogin:hover {
  color: darken(#03D7AC, 8%)
}
